.container {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #E8F1FF;
  position: sticky;
  top: 0;
  z-index: 10;
}

.contFlex{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 95%;
}

.logo {
  padding: 5px 0 0 0;
}

.logo img {
  width: 150px;
}

.contBt {
  display: flex;
  align-items: center;
  justify-content: end;
  height: 75px;
  width: 100%;
}

.bts {
  display: flex;
  justify-content: space-between;
  width: 300px;
}

.btTri {
  height: 50px;
  width: 175px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 10px;
  border-radius: 8px;
  border: 0;
  background-image: linear-gradient(to right, #1f60a5, #05a9cf);
  color: white;
  transition: all 0.2s ease-in-out;
}

.btTri:hover {
  filter: brightness( 120% );
  background-image: linear-gradient(to right, #05a9cf, #1f60a5);  
  transform: scale(1.02);
  cursor: pointer;
}

.btTri img {
  width: 25px;
}

.btEx {
  height: 50px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  background-image: linear-gradient(to right, #1f60a5, #05a9cf);
  border: 0;
  border-radius: 8px;
  color: white;
  transition: all 0.2s ease-in-out;
}

.btEx:hover {
  filter: brightness( 120% );
  background-image: linear-gradient(to right, #05a9cf, #1f60a5);  
  transform: scale(1.02);
  cursor: pointer;
}

.btEx img {
  width: 25px;
}