.card {
	width: 500px;
	height: 750px;
	border-radius: 16px;

	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 50px;

	border: 2px solid #c5c5c5;
	color: #000000;
	background-color: #fcfcfc;

}

.title {
	width: 90%;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 10%;
	font-size: 18px;
}

.desc {
	height: 20%;
	width: 90%;
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	justify-content: center;
	font-size: 18px;
}

.warn {
	color: #ED0007;
	font-size: 16px;
	width: 75%;
}

.cardImg {
	height: 35%;
	width: 90%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.cardImg img {
	width: 130px;
	padding: 10px;
	border-radius: 12px;
}

#blue {
	background-color: #007bc0;
}

#green {
	background-color: #18837e;
}

#pink {
	background-color: #9e2896;
}

.bts {
	width: 90%;
	height: 35%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.bt {
	width: 250px;
	height: 75px;
	font-size: 24px;

	background-color: #007bc0;
	border: 0;
	border-radius: 8px;
	color: white;
	cursor: pointer;
	transition: all 0.15s ease-in-out;
}

.bt:hover {
	transform: scale(1.01);
	filter: brightness(120%);
}

@media only screen and (max-width: 1366px) {
	.card {
		width: 310px;
		height: 450px;
	}

	.cardImg img {
		width: 75px;
	}

	.title {
		font-size: 16px;
	}

	.desc {
		font-size: 14px;
	}

	.warn {
		font-size: 12px;
	}

	.bt {
		width: 150px;
		height: 50px;
	}
}