.container{
  width: 100%;
}

.links:hover{
  color: #000000;
  text-decoration: none;
}
.links {
  cursor: pointer;
  color: white;
  text-decoration: none;
}

.links a{
  cursor: pointer;
  color: white;
  text-decoration: none;
}

.links a:hover{
  color: #000000;
}

.titles{
  color: #fff;
}

.trilhaImg::before {
  background-color: #aaaaaa73 !important;
}

.title{
  text-align: center;
  font-size: 42px;
  padding: 5%;
}